.formContainer {
    height: 180px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}



