.MenuListItem {
    width: 100%;
    height: 20rem;
    display: flex;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: var(--text-light);
    border: .1vmin solid red;
    border-radius: 1vmin;
    font-size: 2.2vmin;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  
  .description {
    height: 1vw;
    width: 100%;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
  }
  
 .buy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Frijole', cursive;
  }
  
.buy span {
    font-size: 1.3vw;
    text-align: center;
    color: rgba(236,98,80);
  }
  
  .MenuListItem .itemImage {
    display: flex;
    font-size: 1.8vw;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    color: var(--text-light);
    border: 1px solid black;
  }

.MenuListItem button {
  display: flex;
  flex-direction: row;
  background-color: rgba(17,41,56);
  border-color: rgba(250, 171, 75,);
  color: rgba(236,98,80);
  border-radius: 3px;
  position: relative;
  font-family: 'Frijole', cursive;
  padding: 6px;
}

.item-name{
  color: purple;
  
}
