.MenuList {
    margin-bottom: 3vmin 0;
    padding: 3vmin;
    overflow-y: scroll;
    }

    .PageButtons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

  