.MenuList {
    padding: 3vmin;
    overflow-y: scroll;
    background-color: gray;
    }

    .PageButtons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

  