.CategoryList {
    color: var(--text-light);
    list-style: none;
    padding: 0;
    font-size: 1.7vw;
    font-family: 'Poppins', sans-serif;
    }
    
    .CategoryList li {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
    font-family: 'Frijole', cursive;
    }
    
    .CategoryList li:hover:not(.active) {
    cursor: pointer;
    background-color: rgba(17,41,56);
    color: rgba(236,98,80);
    border: 2px solid rgba(250, 171, 75,);
    }
    
    .CategoryList li.active {
    color: var(--text-dark);
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    }
    