@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

// body {
//   font-size: 16px;
// }

// .NavBar {
//   display: flex;
//   justify-content: space-around;
//   width: 100%;
//   background-color: #f0f0f0;
//   height: 2rem;
//   align-items: center;
//   font-size: 1.5rem;
//   color: orangered;
//   a {
//     color: orangered;
//     text-decoration: none;
//     &:link, &:visited {
//       color: orangered;
//       text-decoration: none;
//     }
//   }
// }

// .HomePage {
//   h1 {
//     font-size: 3rem;
//   }

// }

// .AboutPage {
//   h1 {
//     font-size: 3rem;
//   }
// }

// .ContactPage{
//   h1 {
//     font-size: 3rem;
//   }

// }

// .AppPage {
//   h1 {
//     font-size: 3rem;
//   }

// }

.AuthPage {
  height: 100vh;
}

.login {
  background-color: lightgrey;
}

.signup {
  background-color: lightgrey;
}

.signUpLoginToggleBtn {
  background-color: rgba(250, 171, 75,);
  border: 1px solid rgba(17,41,56);
  border-radius: 8px;
  padding: 6px;
  font-family: 'Poppins', sans-serif;
  color: rgba(255, 255, 255)
}

.loginBtn {
  margin-top: 20px;
  border: none;
  background-color: rgba(236,98,80);
  border: 1px solid rgba(17,41,56);
  border-radius: 3px;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
}

.signupBtn {
  margin-top: 20px;
  border: none;
  background-color: rgba(236,98,80);
  border: 1px solid rgba(17,41,56);
  border-radius: 3px;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
}

.memberText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  color:black;
  font-size: large;
}



